*{
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
}

/*Base Style ==========================*/
h1 { font-weight: 700;}

.logo {
  margin: 0;
}

nav {
  margin-top: 1em;
}

.logo a, nav a, a {
  display: block;
  padding: 10px 15px;
}

li a:hover { border-bottom: 4px solid #2B3742; }

main h2,h3 {
  margin: 0;
  padding: 0.3em 0;
}
main p {
  margin: 0;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

/*layout Styles =======================*/
.banner {
  width: 100%;
  background: #FCF1A7;/*yellow*/
  text-align: center;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
  padding: 1em 0;
}

.wrapper h2 {
  margin: 0;
}

.main-header {
  margin: 0.5em 0;
  text-align: center;
}

.intro {
  padding: 1em 0;
}

.intro img {
  max-width: 50%;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
}

.travel img {
  width: 100%;
}

.container {
  padding: 2em 0;
}

footer {
  background: #FCF1A7;/*yellow*/
  border-bottom: 5px solid #2B3742;/*blue*/
}


@media (min-width: 768px) {
  .wrapper {
    max-width: 1050px;
  }

  .logo { float: left;}
  nav { float: right;
  margin: 0;}
  .main-header  li {
    display: inline-block;
    margin-top: 0;
    margin-right: 15px;
  }

  /*-----image------*/
  .intro img {
    float: left;
    margin-right: 1em;
    /*border: 1px solid #2B3742;*/
  }

  .travel {
    width: 50%;
    margin: -4px;
    display: inline-block;
    padding: 1em 0.5em;
    text-align: center;
  }


/*-----clearfix--------*/
  .clearfix::after{
    content: "";
    display: table;
    clear: both;
  }

}

@media (min-width: 1024px) {
  /*-----image------*/

  .intro img {
    width: 70%;
    clear: both;
  }

  .travel {
    width: 33%;
    margin: -4px;
    display: inline-block;
    padding: 1em 0.5em;
    text-align: center;
  }
}
