/* Global Styles ===============================================*/
* {
  box-sizing: border-box;
  font-family: helvetica, sans-serif;

}

body {
  width: 100%;
}

/*Main Styles ===================================================*/
.main-header {
  background-color: yellow;
  color: darkgrey;
  text-align: center;
}

h1 {
  margin-top: 0;
  font-size: 1.8em;
  padding-top: 20px;
}/* <-----h1 */

.main-header h2 {
  font-size: 2.5em;
}

h3 {
    font-size: 1.4em;
}

footer {
  background: grey;
  border-bottom: 8px solid yellow;
  text-align: center;
}

.nav {
  padding-bottom: 20px;
}
/* layout styles ======================================*/
.container {
  width: 70%;
  margin: 0 auto;

}

.nav li {
  display: inline-block;
  border: 2px solid black;
}
